<!DOCTYPE html>
<html>
<head>
  <title>Курсы валют и цена на нефть</title>
  <%= stylesheet_link_tag "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
<div class="top"> &nbsp</div>
<%= yield %>
<br><br>

<p>
  <%= link_to "Полная версия", mobile: 0 unless android_device? %>
</p>

<div class="bottom"> &nbsp&nbsp © MaxSoft,2015</div>
</body>
</html>

