<!DOCTYPE html>
<html>
<head>
  <title>Курсы валют и цена на нефть</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<br><br>
  <%= yield %>
  <br>


  <br>
  <%= link_to "Мобильная версия", mobile: 1 %>
  <br><br>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-1351673544337847"
       data-ad-slot="2591225138"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>


</body>
</html>

